.expense-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 90px;
    height: 90px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
  }
  .expense-date__month {
    font-size: 15px;
    font-weight: bold;
  }
  .expense-date__year {
    font-size: 13px;
  }
  .expense-date__day {
    font-size: 26px;
    font-weight: bold;
  }