.expense-item {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  border-radius: 10px;
}

.expense-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5px 15px;
  background-color: rgb(60, 60, 60);
}
.expense-item__description h2 {
  font-size: 28px;
  white-space: nowrap;
}
.expense-item__price {
  padding: 10px 20px;
  border-radius: 16px;
  background-color: #6750C4;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .expense-item__description {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5px;
  }
  .expense-item__price {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
  }

  .expense-item__description h2 {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .expense-item__price {
    font-size: 20px;
  }
  .expense-item__description h2 {
    font-size: 18px;
  }
}

@media (max-width: 340px) {
  .expense-item__description h2 {
    font-size: 16px;
  }
  .expense-item__price {
    font-size: 18px;
    padding: 5px 0;
  }
}
