.expenses {
  padding: 30px;
  background-color: rgb(31, 31, 31);
  margin: 10px auto;
  width: 800px;
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.expenses__list {
  list-style: none;
}
.expenses__list li {
  padding: 20px;
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
}
.expense-item {
  display: flex;
}
.expense-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  padding: 20px;
  background-color: rgb(60, 60, 60);
  border: 2px solid rgb(211, 201, 201);
  border-radius: 10px;
}
.expense-date__month {
  font-size: 15px;
  font-weight: bold;
}
.expense-date__year {
  font-size: 13px;
}
.expense-date__day {
  font-size: 26px;
  font-weight: bold;
}

.expense-item__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 15px;
}
.expense-item__description h2 {
    font-size: 28px;
}
.expense-item__price {
    padding: 10px 25px;
    border-radius: 16px;
    background-color: rgb(101, 11, 161);
    border: 3px solid rgb(211, 201, 201);
    font-size: 24px;
    font-weight: bold;
}
