.new-expense {
  width: 800px;
  max-width: 95%;
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(31, 31, 31);
}

.new-expense__controls button {
  font-size: 18px;
  margin: 0 auto;
  padding: 10px 15px;
  color: white;
  background-color: #7410b8;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
